.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--background-variable-secondary);
  z-index: 100;

  &-wrap {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }
}
