:root {
  --animation-duration: 0.15s;
  --animation-duration-slow: 0.3s;
  --hover-opacity: 0.8;

  // height
  --header-height: 60px;
  --section-height: calc(100vh - var(--header-height));

  // font sizes
  --font-size-small: 1rem;
  --font-size-primary: 1.25rem;
  --font-size-h3: 2rem;
  --font-size-h2: 3.5rem;
  --font-size-h1: 5rem;
  --font-size-big: 7rem;
}

@media (prefers-reduced-motion) {
  :root {
    --animation-duration: 0;
    --animation-duration-slow: 0;
  }
}
